* {
    padding: 0;
    margin: 0;
}

.Box {
    text-align: center;
}

.header {
    background: #3064BC;
    width: 100%;
    height: 50px;
}

.header-nav {
    background: #3064BC;
    height: 50px;
    text-align: center;
    float: left;
}

.list {
    margin: 0 auto;
    width: 960px;
}

.header-nav li {
    float: left;
    list-style: none;
    height: 20%;
    line-height: 10px;
    padding: 20px 30px;
    color: white;
}

.header-nav li:hover {
    background: #0A439A;
}

.carousel {
    background: skyblue;
    width: 100%;
    height: 500px;
}

.btn_left,
.btn_right {
    width: 20px;
    height: 50px;
    color: white;
    font-size: 30px;
    background: gray;
}

.btn_left {
    float: left;
}

.btn_right {
    position: absolute;
    top: 50%;
    right: 2px;
}

.cantiner {
    margin: 0 auto;
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.imgs {
    width: 1000%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
}

.imgs>li {
    width: 10%;
    height: 100%;
    display: inline-block;
}

.left,
.right {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    background-color: rgba(0, 0, 0, .6);
}

.left {
    left: 0;

}

.right {
    right: 0;
}

.point {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 15px;
    bottom: 40px;
    font-size: 0;
}

.point>li {
    display: inline-block;
    width: 10px;
    height: 10px;
    /* background-color: #ccc; */
    border: 1px solid gray;
    border-radius: 50% 50%;
    margin: 0 10px;
    cursor: pointer;
}

.point>.on {
    background-color: gray;
}

/* 验证 */
.register {
    position: fixed;
    z-index: 999;
    width: 273px;
    height: 301px;
    position: absolute;
    right: 330px;
    top: 190px;
    opacity: 0.9;
    display: block;
    background: url(http://www.jz5158.com/public/images/%E6%B3%A8%E5%86%8C.jpg);
}

.reghide {
    position: absolute;
    top: 120px;
    margin-left: 20px;
}

#account {
    height: 30px;
    width: 238px;
    background: none;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 5px
}

#verification {
    height: 30px;
    margin-top: 22px;
    margin-right: 7px;
    width: 130px;
    border: none;
    border-radius: 5px;
    float: left;
    outline: none;
    padding-left: 5px
}

.get {
    width: 80px;
    height: 30px;
    border: none;
    background: none;
    border-radius: 5px;
    float: left;
    margin-left: 13px;
    margin-top: 22px;
    outline: none;
    color: white;
}

.receive {
    width: 235px;
    height: 35px;
    margin-top: 35px;
    background: none;
    border: none;
    outline: none;
}

.ppp {
    overflow: hidden
}