.navtwobox{
    width: 50px;
    height: 50px;
    background: #4E81BD;
    border: 2px solid #385C8B;
    margin: 20px;
    line-height: 50px;
}
.navTwolist{
    background: #C1504C;
    border: 2px solid #8D3836;
    text-align: center;
}