/*左侧栏*/
.leftbox{
    background: #4E81BD;
    border: 2px solid #385C8B;
    width: 200px;
    height: 600px;
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-right: 30px;
}
.leftbox-child{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    background: #9BBB58;
    border: 2px solid #70893E;
    display:flex;
    flex-flow: column;
    color: white;
    line-height: 100px;

}
