/*7.3留言板的样式*/
.bigbox{
    width: 700px;
    height: 500px;
    background: #4E81BD;
    margin: auto;
    position: relative;
}
.header{
    width: 80%;
    height: 20%;
    margin: auto;
    text-align: center;
}
.inp{
    width: 100%;
    height: 100%;
    background: #9BBB58;
    border: 2px solid #566A32;
    text-align: center;
    color: white;
    font-size: 20px;
}
.btn{
    width: 100px;
    height: 40px;
    color: white;
    line-height: 40px;
    background: #C1504C;
    border: 2px solid #642420;
    float: right;
}
.footer{
    width: 80%;
    height: 50%;
    background: #8164A3;
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -40%;
    border: 2px solid #403250;
}
.footer-box{
    margin: 10px auto;
    width: 90%;
}
.footer-txt{
    background: #4E81BD;
    border: 2px solid #2F4766;
}
.footer-num{
    color: #E50D0D;
}
.footer-clean{
    background: #C1504C;
    border: 2px solid #642420;
    float: right;
    margin-right: 20px;
}
.footer-list{
    width: 100%;
	height: 200px;
	position: relative;
	overflow: hidden;
}
.footer-list1{
    position: absolute;
	left: 0;
	top: 0;
	right: -17px;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}